<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>ToDoList-One</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" href="data:,"><!--this is for prevent from adding a items named "favicon.ico"-->
</head>

<body>