<%- include("partials/header.ejs") %>
    <h1>
        <%= new Date() %>
    </h1>

    <div class="todolist">
        <% if(locals.items){ %>
            <% items.forEach((item)=>{ %>
                <div class="todobox">
                    <input name="checkbox" type="checkbox">
                    <p>
                        <%= item %>
                    </p>
                    <input class="delete" name="delete" type="button" value="delete">
                </div>
                <% })} %>
                    <form class="addForm" action="/add" method="POST">
                        <input class="addText" type="text" name="input" placeholder="Please input your plan">
                        <input class="addBtn" type="submit" value="+">
                    </form>
    </div>
    <%- include("partials/footer.ejs") %>