<%- include("partials/header.ejs") %>
    <h1>
        <%= new Date() %>
    </h1>

    <div class="todolist">
        <% if(locals.items){ %>
            <% items.forEach((item)=>{ %>
                <div class="todobox">
                    <input type="checkbox">
                    <%= item %>
                        <input class="delete" type="button" value="delete">
                </div>
                <% })} %>
                    <form action="/add" method="POST">
                        <input type="text" name="input" placeholder="Please input your plan">
                        <input type="submit" value="+">
                    </form>
    </div>
    <%- include("partials/footer.ejs") %>